@page
@using WebApplication1.DAL
@using BattleShipBrain
@model WebApplication1.Pages.LoadData.LoadSave

@{
    ViewData["Title"] = "Load Save";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <div class="text-center">
                <h1 class="display-10">Select Save!</h1>
            </div>
            @* @if (Request.Form["error"].Count > 0) *@
            @* { *@
            @*     <div class="alert alert-danger" role="alert" style="text-align: center"> *@
            @*         Please, fill all the fields to continue! *@
            @*     </div> *@
            @* } *@
        </div>
        <div class="p-2 bd-highlight">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-row bd-highlight mb-3">
                    <form method="post">
                        <div class="d-flex justify-content-center">
                            <div class="d-flex flex-row bd-highlight">
                                <div class="p-3 bd-highlight row-cols-lg-auto">
                                    <div class="form-floating ">
                                        <select class="form-select" id="inputDbConfigId" asp-for="SaveId">
                                            @foreach (var item in AccessData.GetSavesFromDb(null)!)
                                            {
                                                if (item.GameStateConfigId == int.Parse(Request.Cookies["ConfigId"]!))
                                                {
                                                    <option value="@item.GameStateSavedId">@Html.DisplayFor(modelItem => item.SaveName)</option>
                                                }
                                            }
                                        </select>
                                        <label for="inputDbConfigId" asp-for="SaveId">Choose a Save to load!</label>
                                    </div>
                                    <div class="form-floating">
                                        <select class="form-select" id="inputPlayerSide" asp-for="PlayerSide" aria-label="Choose a Side">
                                            <option value="playerSideA">Player A</option>
                                            <option value="playerSideB">Player B</option>
                                        </select>
                                        <label for="inputPlayerSide" asp-for="PlayerSide">Choose a Side</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Start Game from Existing Save in Database</button>
                                </div>
                                <div class="p-3 bd-highlight row-cols-lg-auto">
                                    <div class="text-center">
                                        <h5 class="display-10">Create a New Save!</h5>
                                    </div>
                                    <div class="form-floating">
                                        <input class="form-control" id="inputNewSaveName" name="inputNewSaveName" placeholder="Save name"/>
                                        <label for="inputNewSaveName">Save name</label>
                                    </div>
                                    <div id="passwordHelpBlock" class="form-text">
                                        After you have created a new save, just select it to load!
                                    </div>
                                    <div class="d-flex justify-content-center">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary">Create Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>